@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --solid-orchid-blue: #1442ea;
  --solid-crystal-blue: #47b9fa;
  --text-color: #14004f;
  --bg-color: #eff5ff;
  --solid-navy: #000f48;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 80vw;
  max-width: 1180px;
}

h1 {
  font-size: clamp(1.25rem, -0.1786rem + 2.9762vw, 2.5rem);
  color: black;
  line-height: 1em;
}
h2 {
  font-size: clamp(2.25rem, -0.5357rem + 5.8036vw, 4.6875rem);
  line-height: 1em;
  color: var(--solid-orchid-blue);
  margin: 1rem 0;
}
h3 {
  font-size: clamp(1.25rem, -0.1786rem + 2.9762vw, 2.5rem);
  color: var(--solid-orchid-blue);
}
p {
  margin: 1rem 0;
  line-height: 1.5em;
}
p,
li {
  font-size: clamp(0.75rem, 0.3214rem + 0.8929vw, 1.125rem);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(12.5rem, 14.881vw + 5.357rem, 18.75rem);
  height: clamp(2.5rem, 2.976vw + 1.071rem, 3.75rem);

  background-color: var(--solid-crystal-blue);
  border-radius: 200px;
  margin-top: 2rem;

  font-weight: 700;
  font-size: clamp(0.75rem, 0.3214rem + 0.8929vw, 1.125rem);
  color: white;
  text-decoration: none;
}

header {
  padding: 20px 0;
}

.hero {
  padding-top: 40px;
  display: flex;
}
.hero-text {
  width: 41%;
  padding-bottom: 2rem;
}
.hero-image {
  width: 59%;
  display: flex;
  align-items: flex-end;
}
.hero-image img,
.cta-image img {
  width: 100%;
  height: auto;
}

.content-section {
  padding: 50px 0;
  background-color: var(--bg-color);
}
.content {
  display: flex;
  gap: 3rem;
}
.content-image,
.content-text {
  width: 50%;
  overflow: hidden;
}
.content-image {
  background-image: url("/assets/img-content.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-text {
  padding: 1rem;
}
.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.btn-right .btn {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
  background-color: #47b9fa1a;
  margin-bottom: 0.6rem;

  width: 260px;
  padding: 10px 30px;
  border-radius: 200px;
}

.cta-section {
  padding-top: 3rem;
  background-image: linear-gradient(205.22deg, #4bc3ff 4.01%, #1648ff 91.3%);
}
.container.cta {
  display: flex;
}
.cta-text,
.cta-image {
  width: 50%;
}
footer h3 {
  color: #fcfdff;
}
footer p {
  color: white;
  margin: 2rem 0;
}
.download-btn-row {
  display: flex;
  gap: 1rem;
}
.download-btn-row a img {
  height: clamp(2.25rem, 9.375vw - 2.25rem, 3.75rem);
}

.footer-section {
  background-color: var(--solid-navy);
  padding: 1.5rem 0;
}
.footer-section p {
  margin: 0;
  text-align: center;
  font-size: clamp(0.625rem, 0.3393rem + 0.5952vw, 0.875rem);
  color: #838fbc;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-text,
  .hero-image {
    width: 100%;
  }
  .hero-text {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .content-image,
  .content-text,
  .cta-image,
  .cta-text {
    width: 100%;
  }
  .cta-image {
    margin-top: 2rem;
  }
  .content {
    flex-direction: column;
    gap: 1rem;
  }
  .content-image {
    height: 100vw;
  }
  .container.cta {
    flex-direction: column;
  }
}
